a {
    text-decoration: none;
    color: inherit;
}

.job-list-item {
    display: flex;
    align-items: center;
    border-left: 15px solid #F1CA82;
    box-shadow: 2px 2px 2px #CCD7DE;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px 0;
    background-color: #FFFFFF;
}

.job-list-item div {
    padding: 0 30px;
}

.company-job-container {
    flex-direction: column;
    width: 400px;
}

.category-location-level-container {
    display: flex;
}

.category-location-level-container p {
    padding-right: 40px;
}

.job-list-item:hover {
    box-shadow: 4px 4px 4px #CCD7DE;
    transition: all 250ms;
}

.job-list-item p  {
    font-size: 14px;
    color: #547597;
    font-weight: 300;
}

.company-job-container .job-list-item-company-name {
    color: #CCD7DE;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.company-job-container .job-list-item-job-title {
    color: #1B4369;
    font-weight: 500;
    font-size: 18px;
    margin-top: 0;
}
